@media screen and (max-width: 1100px){
    .social_item:nth-child(9){
        display: none;
    }

    .social_item:nth-child(11){
        display: none;
    }

    .social_separation:nth-child(8){
        display: none;
    }

    .social_separation:nth-child(10){
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .content_banner{
        height: 100vh !important;
        .wrapper{
            .content_banner_left{
                left: 0;
                .banner_title{
                    font-size: 5rem;
                }
                .banner_caption{
                    font-size: .8rem;
                }
                .banner_price{
                    font-size: 1.5rem;
                }
            }
        }
    }
    .main_bottom{
        .main_bottom_mixture{
            display: flex;
            margin-top: 2rem;
            .main_bottom_contact{
                width: 50%;
                padding-right: .4rem;
            }
            .main_bottom_tag_product{
                width: 50%;
                padding-left: .4rem;
            }
        }
    }
}

@media screen and (max-width: 800px){
    .showcase{
        .showcase_item_content{
            h4{
                font-size: 1.5rem !important;
            }

            .img_daisy{
                width: 40% !important;
            }
            .showcase_item_content_text{
                font-size: 1.6rem !important;
            }
        }

        .showcase_bottom_left{
            top: 4% !important;
            left: 6% !important;
            .content_atHome{
                font-size: 2.5rem !important;
                font-weight: 500 !important;
            }
        }
    }

    .testimonial{
        .wrapper{
            height: 40vh;
            margin-top: 5rem;
            .testimonial_banner{
                bottom: 5%;
            }

            .testimonial_content{
                top: -5%;
            }
        }
    }
}

@media screen and (max-width: 700px){
    .content_banner{
        height: 90vh !important;
        .wrapper{
            .content_banner_left{
                left: 0;
                .banner_title{
                    font-size: 4rem;
                }
                .banner_caption{
                    font-size: .7rem;
                }
                .banner_price{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .social_item:nth-child(5){
        display: none;
    }

    .social_item:nth-child(7){
        display: none;
    }

    .social_separation:nth-child(4){
        display: none;
    }

    .social_separation:nth-child(6){
        display: none;
    }
}

@media screen and (max-width: 600px){
    .policy{
        .wrapper{
            flex-direction: column;
            padding: 1rem 0;
            .policy_item{
                width: 90%;
                margin: auto;
                .cover{
                    padding: 1rem 1rem;
                    width: 70%;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    img{
                        margin: 0;
                        width: fit-content;
                    }
                    p{
                        text-align: left;
                        padding-left: 2rem;
                    }
                }
            }

            .policy_item:nth-child(2){
                border: 1px solid $header-line;
                border-left: none;
                border-right: none;
            }
        }
    }

    .testimonial{
        .testimonial_banner{
            opacity: .4;
            z-index: -1;
        }

        .testimonial_content{
            top: -8%;
            .testimonial_content_item{
                position: relative;
                .item_right{
                    font-size: .8rem;
                    .item_right_regency{
                        font-size: .6rem;
                    }
                }
            }
        }
    }
    .main_bottom{
        .main_bottom_mixture{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            .main_bottom_contact{
                width: 100%;
                padding-right: .5rem;
            }
            .main_bottom_tag_product{
                width: 100%;
                padding-left: .5rem;
            }
        }
    }
}

@media screen and (max-width: 500px){
    .content_banner{
        height: 90vh !important;
        background-position: -15rem !important;
        .wrapper{
            .content_banner_left{
                left: 9%;
                .banne_title{
                    font-size: 4rem;
                }
                .banner_caption{
                    font-size: .7rem;
                }
                .banner_price{
                    font-size: 1.2rem;
                }
            }
        }
    }
}