@font-face{
    font-family: "UTMASGraceland";
    src: url(../assets/fonts/UTMASGraceland.ttf);
}

@font-face{
    font-family: "UTMAndrogyne";
    src: url(../assets/fonts/[cnttqn.net]UTMAndrogyne.ttf);
}

@font-face{
    font-family: "UTMViceroyJF";
    src: url(../assets/fonts/UTMViceroyJF.ttf);
}