@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$green: #789629;
$font-text: 'Open Sans', sans-serif;
$header-line: #b3b3b3;
$black: black;
$bg-header: transparent;
$white: white;
$dark-red: #800000;
$grey: #737373;
$text-footer: #494949;
$yellow: #e3ce33;
$grey-showcase: #cbd3df;
$pink: #f49ac2;
$sky-blue: #88d8da;
$orange: #e3a859;
$thead-bg: #f5f5f0;
$red: red;