-
    var PathAccount = [
        {
            located: "Home",
        },
        {
            located: "Tài khoản",
            className: "path__content--red",
            classIcon: "disable"
        }
    ]

- var listThTable = ["Order", "Date", "Tình trạng thanh toán", "Tổng", "Nợ"]