-
    var PathBlog = [
        {
            located: "Home",
        },
        {
            located: "Blog",
            className: "path__content--red",
            classIcon: "disable"
        }
    ]

-
    var PostItem = [
        {
            img : "./assets/images/post-image/img7.jpg",
            className : "postItem1"
        },
        {
            img : "./assets/images/post-image/img2.jpg",
            className : "postItem2"
        },
        {
            img : "./assets/images/post-image/img9.jpg",
            className : "postItem3"
        },
        {
            img : "./assets/images/post-image/img4.jpg",
            className : "postItem4"
        },
        {
            img : "./assets/images/post-image/img3.jpg",
            className : "postItem5"
        },
        {
            img : "./assets/images/post-image/img6.jpg",
            className : "postItem6"
        },
        {
            img : "./assets/images/post-image/img8.jpg",
            className : "postItem7"
        },
        {
            img : "./assets/images/post-image/img5.jpg",
            className : "postItem8"
        },
        {
            img : "./assets/images/post-image/img1.jpg",
            className : "postItem9"
        },
    ]

- var listBtnTagBlog = ["Đồng hồ", "Túi", "Phụ kiện", "Giày", "Sandal", "Áo sơ mi","Nước hoa", "Trẻ em", "Thời trang nữ"]
-
    var BlogDetailContent = {
        title: "NÀNG BÉO KHÔNG NGẠI DIỆN VÁY NỖI BẬT",
        content: "Hi, chào các nàng...sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tính xô nhau đi tắm Free để giải nhiệt.Trong tiết xuân hè nàng ngoại cỡ thắp sáng phong cách bằng quần họa tiết nhiệt đới đi kèm áo sơ mi nhã nhặn. Trang phục họa tiết điện tử được nàng phối cùng chân váy kẻ caro, làm nên style vừa hiện đại, vừa phảng phất nét cổ điển. Lối diện đồ hằng ngày đơn giản, khỏe khoắn của cô khi kết hợp chất liệu jean. Nữ blogger rực rỡ khi hòa trộn các gam đổ, hồng, tím... một cách vui tươi, kèm theo các phụ kiện điệu đà.",
        author: "Bởi NamTran (27/05/2015)",
    }