-
    var PathCart = [
        {
            located: "Home",
        },
        {
            located: "Giỏ hàng",
            className: "path__content--green",
            classIcon: "disable"
        }
    ]

- var listThTable = ["ẢNH", "TÊN SẢN PHẨM", "ĐƠN GIÁ", "SỐ LƯỢNG", "TỔNG SỐ", "XÓA"]
-
    var cartProcess = [
        {
            title: "Giỏ hàng",
            logo: "fa-shopping-cart",
            status: "fa-sync-alt"
        },
        {
            title: "Thông tin khách hàng",
            logo: "fa-file-invoice",
            status: "fa-times"
        },
        {
            title: "Thanh toán",
            logo: "fa-money-bill-wave-alt",
            status: "fa-times"
        }
    ]