-
    var PathContact = [
        {
            located: "Home",
        },
        {
            located: "Liên hệ",
            className: "path__content--green",
            classIcon: "disable"
        }
    ]

-
    var contactMap = {
        src: "./assets/images/map.jpg",
        alt: "map picture"
    }