-
    var footer_top = [
        {
            title: 'CHUYẾN HÀNG',
            items: [
                {
                    name: "Mua sắm trực tuyến",
                    href: "404.html"
                }, 
                {
                    name: "Đến từ chúng tôi gửi đến",
                    href: "#"
                },
                
                {
                    name: "Chính sách vận chuyển",
                    href: "#"
                },
                {
                    name: "Thông tin vận chuyển",
                    href: "#"
                }
            ]
        },

        {
            title: 'HỖ TRỢ',
            items: [
                {
                    name: "Câu chuyện của chúng tôi",
                    href: "#"
                }, 
                {
                    name: "Thanh toán an toàn",
                    href: "#"
                },
                {
                    name: "Tùy chọn vận chuyển",
                    href: "#"
                }, 
                {
                    name: "Chính sách vận chuyển",
                    href: "#"
                },
            ]
        }, 

        {
            title: "THÔNG TIN",
            items: [
                {
                    name: "Về Chúng Tôi",
                    href: "aboutUs.html"
                }, 
                {
                    name: "Điều khoản & Điều kiện",
                    href: "#"
                },
                {
                    name: "Chính sách riêng tư",
                    href: "#"
                }, 
                {
                    name: "Đơn đặt hàng và Returns",
                    href: "#"
                },
            ]
        },

        {
            title: "MY ACCOUNT",
            items: [
                {
                    name: "Đăng nhập",
                    href: "login.html"
                }, 
                {
                    name: "Đăng kí",
                    href: "register.html"
                },
                {
                    name: "Kiểm tra",
                    href: "account.html"
                }, 
                {
                    name: "Xem giỏ hàng",
                    href: "shopping_cart.html"
                }, 
            ]
        }
    ]

- 
    var footer_bottom= [
        {
            title: "© Copyright 2008-2014 DKT Technology JSC",
            image: "./assets/images/payment.png"
        }
    ]