- 
    var header_menu = [
        {
            title: "TRANG CHỦ",
            href: "index.html"
        },
        {
            title: "GIỚI THIỆU",
            href: "aboutUs.html"
        },
        {
            title: "SẢN PHẨM",
            href: "grid_product.html"
        },
        {
            title: "TIN TỨC",
            href: "blog.html"
        },
        {
            title: "BẢN ĐỒ",
            href: "#"
        },
        {
            title: "LIÊN HỆ",
            href: "contact.html"
        }
    ]

- 
    var mega_menu_product = [
        {
            title: 'DƯỠNG DA',
            items: ["Áo khoác", "Bộ áo liền quần", "Dresses", "Quần / Váy", "Quần short", "Quần jean", "Đồ đan", "Áo nỉ"]
        },

        {
            title: 'NƯỚC HOA',
            items: ["Áo cánh / Áo sơ mi", "Túi xách và Balo", "Khăn quàng cổ và Foulards", "Dệt kim Hats và Gloves", "Vớ và Socks", "Jewerly", "Bị bảo vệ", "Giày"]
        },
        {
            title: "TRANG SỨC",
            items: ["Áo cánh / Áo sơ mi", "Túi xách và Balo", "Khăn quàng cổ và Foulards", "Dệt kim Hats và Gloves", "Vớ và Socks", "Jewerly", "Nước hoa", "Giày"]
        }
    ]

- 
    var mega_menu_cart = [
        {
            avatar: "./assets/images/client_ava.jpg", 
            product_name: "Áo sơ mi Nam",
            product_price: "120.000"
        },
        {
            avatar: "./assets/images/client_ava.jpg", 
            product_name: "Áo sơ mi Nam",
            product_price: "120.000"
        },
    ]