-
    var policy_variables = [
        {
            image: "./assets/images/plane.png",
            content: "Miễn phí vận chuyển"
        },

        {
            image: "./assets/images/gift.png",
            content: "Nhận ngay quà tặng trị giá 350.000đ"
        },

        {
            image: "./assets/images/star.png",
            content: "Giảm 30% cho đơn hàng trên 5.000.000đ"
        }
    ]

-
    var testimonial_variables = [
        {
            index: "0",
            avatar: "./assets/images/testimonial_avatar.jpg",
            content: "Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto",
            name: "TUTILE",
            position: "_ Giám đốc phát triển sản phẩm",
        },

        {
            index: "1",
            avatar: "./assets/images/testimonial_avatar.jpg",
            content: "Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto",
            name: "TUTILE",
            position: "_ Giám đốc phát triển sản phẩm",
        },

        {
            index: "2",
            avatar: "./assets/images/testimonial_avatar.jpg",
            content: "Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto",
            name: "TUTILE",
            position: "_ Giám đốc phát triển sản phẩm",
        }
    ]

-
    var media_variables = [
        {
            icon: "fa-facebook-f",
            title: "FACEBOOK"
        },

        {
            icon: "fa-twitter",
            title: "TWITTER"
        },

        {
            icon: "fa-instagram",
            title: "INSTAGRAM"
        },

        {
            icon: "fa-google-plus-g",
            title: "GOOGLE +"
        },

        {
            icon: "fa-pinterest",
            title: "PINTEREST"
        },

        {
            icon: "fa-linkedin-in",
            title: "LINKEDIN"
        },
    ]

-  
    var about_us = { 
        title: "VỀ CHÚNG TÔI", 
        line: "./assets/images/3.png", 
        logo: "./assets/images/mandala-logo.png", 
        alt: "about us image", 
        caption: "Giới thiệu chung về mỹ phẩm handmade Mandala", 
        content: "Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.", 
        readmore: "Xem thêm", 
    }

-
    var blog = {
        title: "BLOG", 
        line: "./assets/images/3.png", 
        banner: "./assets/images/img12.jpg",
        alt: "blog image",
        caption: "Review son kem Bourjois Velvet", 
        content: "Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. ",
        author: "Bởi NamTran ( 27 / 05 / 2015 )",
        readmore: "Đọc thêm",
        comment: "23 Bình luận"
    }

-
    var email = {
        title: "GỬI EMAIL CHO CHÚNG TÔI", 
        line: "./assets/images/3.png", 
        alt: "mail image"
    }

-
    var tag_product = {
        title: "TAG SẢN PHẨM", 
        line: "./assets/images/3.png", 
        alt: "tag product image",
        product: ["Đồng hồ", "Túi", "Phụ kiện", "Đồng hồ", "Túi", "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Giày", "Sandal", "Trẻ em", "Thời trang nữ", "Trẻ em", "Thời trang nữ"]
    }

- var listMenuProduct = ["Mỹ phẩm", ".", "Chăm sóc da", ".", "Dành cho tóc", ".", "Nước hoa", ".", "Trang sức", ".", "Quà tặng"];
-
    var ProductItem = [
        {
            title: "TYFFANI",
            img: "./assets/images/grid/product1.jpg",
            show: "false"
        },
        {
            title: "OHUI",
            img: "./assets/images/grid/product5.jpg",
            show: "false"
        },
        {
            title: "HOME",
            oldPrice: "450.000",
            img: "./assets/images/grid/product4.jpg",
            show: "true"
        },
        {
            title: "DEBORA",
            img: "./assets/images/grid/product6.jpg",
            show: "false"
        },
        {
            title: "SARVON",
            img: "./assets/images/grid/product3.jpg",
            show: "false"
        },
        {
            title: "TYFFANY",    
            img: "./assets/images/grid/product2.jpg",
            show: "false"
        },
        {
            title: "HOME",  
            oldPrice: "450.000",  
            img: "./assets/images/grid/product1.jpg",
            show: "true"
        },
        {
            title: "DEBORA",  
            img: "./assets/images/grid/product5.jpg",
            show: "false"
        },
    ]