-
    var PathInformation = [
        {
            located: "Home",
        },
        {
            located: "Giỏ hàng"
        },
        {
            located: "Thông tin thanh toán",
            className: "path__content--green",
            classIcon: "disable"
        }
    ]

-
    var PathPayment = [
        {
            located: "Home",
        },
        {
            located: "Giỏ hàng"
        },
        {
            located: "Thanh toán",
            className: "path__content--green",
            classIcon: "disable"
        }
    ]

- var listTableInfomation = ["Ảnh", "Tên sản phẩm", "Giá", "Số lượng", "Tổng số"]
-
    var paymentOption = [
        {
            title: "Thanh toán tiền mặt khi nhận hàng",
            inputID: "flexRadioDefault1",
            img: "./assets/images/payment/icon-payment-method-cod.svg"
        },
        {
            title: "Thanh toán bằng thẻ quốc tế Visa, Master, JCB",
            inputID: "flexRadioDefault2",
            img: "./assets/images/payment/icon-payment-method-credit.svg"
        },
        {
            title: "Thẻ ATM nội địa/Internet Banking (Miễn phí thanh toán)",
            inputID: "flexRadioDefault3",
            img: "./assets/images/payment/icon-payment-method-atm.svg"
        },
        {
            title: "Thanh toán bằng ví MoMo",
            inputID: "flexRadioDefault4",
            img: "./assets/images/payment/icon-payment-method-mo-mo.svg"
        },
        {
            title: "Thanh toán bằng ZaloPay",
            inputID: "flexRadioDefault5",
            img: "./assets/images/payment/icon-payment-method-zalo-pay.svg"
        },
    ]
-
    var infoProcess = [
        {
            title: "Giỏ hàng",
            logo: "fa-shopping-cart",
            status: "fa-check"
        },
        {
            title: "Thông tin khách hàng",
            logo: "fa-file-invoice",
            status: "fa-sync-alt"
        },
        {
            title: "Thanh toán",
            logo: "fa-money-bill-wave-alt",
            status: "fa-times"
        }
    ]

-
    var paymentProcess = [
        {
            title: "Giỏ hàng",
            logo: "fa-shopping-cart",
            status: "fa-check"
        },
        {
            title: "Thông tin khách hàng",
            logo: "fa-file-invoice",
            status: "fa-check"
        },
        {
            title: "Thanh toán",
            logo: "fa-money-bill-wave-alt",
            status: "fa-sync-alt"
        }
    ]