-
    var PathLogin = [
        {
            located: "Home",
        },
        {
            located: "Đăng nhập",
            className: "path__content--green",
            classIcon: "disable"
        }
    ]