-
    var PathGrid = [
        {
            located: "Home",
        },
        {
            located: "Sản phẩm"
        },
        {
            located: "Trang sức",
            className: "path__content--green",
            classIcon: "disable"
        }
    ]

-
    var gridProduct = [
        {
            className: "grid-product1",
            title: "OHUI",
            img: "./assets/images/grid/product5.jpg",
            show: "false"
        },
        {
            className: "grid-product2",
            title: "HOME",
            oldPrice: "450.000",
            img: "./assets/images/grid/product4.jpg",
            show: "true"
        },
        {
            className: "grid-product3",
            title: "DEBORA",
            img: "./assets/images/grid/product6.jpg",
            show: "false"
        },
        {
            className: "grid-product4",
            title: "OHUI",
            img: "./assets/images/grid/product5.jpg",
            show: "false"
        },
        {
            className: "grid-product5",
            title: "HOME",
            oldPrice: "450.000",
            img: "./assets/images/grid/product4.jpg",
            show: "true"
        },
        {
            className: "grid-product6",
            title: "DEBORA",
            price: "450.000",
            img: "./assets/images/grid/product6.jpg",
            show: "false"
        },
    ]

-
    var category = [
        {
            title: "MỸ PHẨM",
            title_id: "flush-headingOne",
            collapse: "collapseOne",
            heading: "headingOne",
            list: ["Vòng tay", "Nhẫn", "Lắc chân", "Phụ kiện khác", "Giày Lười Giày Mọi"],
            category_id: "cosmetics",
        },
        {
            title: "TRANG SỨC",
            title_id: "flush-headingTwo",
            collapse: "collapseTwo",
            heading: "headingTwo",
            list: ["Vòng tay", "Nhẫn", "Lắc chân", "Phụ kiện khác", "Giày Lười Giày Mọi"],
            category_id: "jewelry",
        },
        {
            title: "PHỤ KIỆN",
            title_id: "flush-headingThree",
            collapse: "collapseThree",
            heading: "headingThree",
            list: ["Vòng tay", "Nhẫn", "Lắc chân", "Phụ kiện khác", "Giày Lười Giày Mọi"],
            category_id: "accessories",
        },
        {
            title: "NƯỚC HOA",
            title_id: "flush-headingFour",
            collapse: "collapseFour",
            heading: "headingFour",
            list: ["Vòng tay", "Nhẫn", "Lắc chân", "Phụ kiện khác", "Giày Lười Giày Mọi"],
            category_id: "perfume",
        }
    ]

- var listBtnTagCategory = ["Hoa tai", "Son", "Nước hoa", "Giày", "Sandal", "Áo sơ mi","Nước hoa", "Trẻ em", "Thời trang nữ"]
-
    var ListProduct = [
        {
            image: "./assets/images/grid/product6.jpg",
            title: "Mỹ phẩm Châu Âu thương hiệu hàng đầu thế giới",
            price: "355.000"
        },
        {
            image: "./assets/images/grid/product4.jpg",
            title: "Mỹ phẩm Châu Âu thương hiệu hàng đầu thế giới",
            price: "355.000"
        },
        {
            image: "./assets/images/grid/product5.jpg",
            title: "Mỹ phẩm Châu Âu thương hiệu hàng đầu thế giới",
            price: "355.000"
        },
    ]

-
    var PathDetail = [
        {
            located: "Home",
        },
        {
            located: "Sản phẩm",
        },
        {
            located: "Trang sức",
        },
        {
            located: "Lắc tay",
            className: "path__content--green",
            classIcon: "disable"
        }
    ]

-
    var imgInvolve = [
        {
            src: "./assets/images/detail/img8.jpg",
            alt: "image product 1"
        },
        {
            src: "./assets/images/detail/img9.jpg",
            alt: "image product 2"
        },
        {
            src: "./assets/images/detail/img10.jpg",
            alt: "image product 3"
        },
        {
            src: "./assets/images/detail/img2.jpg",
            alt: "image product 4"
        },
    ]

-
    var listInfoProduct = [
        {
            title: "ĐẶC ĐIỂM NỔI BẬT",
            className: "light"
        },
        {
            title: "THÔNG TIN SẢN PHẨM",
        },
        {
            title: "ĐÁNH GIÁ",
        }
    ]

-
    var  infoContent = [
        {
            src: "./assets/images/detail/img1.jpg"
        },
        {
            src: "./assets/images/detail/img6.jpg"
        },
        {
            src: "./assets/images/detail/img7.jpg"
        },
        {
            src: "./assets/images/detail/img5.jpg"
        },
    ];