-
    var PathRegister = [
        {
            located: "Home",
        },
        {
            located: "Đăng ký",
            className: "path__content--grene",
            classIcon: "disable"
        }
    ]