extends ../base/base

block script    
    script(src="js/grid-product.js")
    script(src="js/all.js")

block content
    //- header
    include ../partials/header
    //- main
    block main
    //- footer
    include ../partials/footer